.btn-social
  position: relative
  padding-left: 44px
  text-align: left
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  > :first-child
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 32px
    line-height: 34px
    font-size: 1.6em
    text-align: center
    border-right: 1px solid rgba(0, 0, 0, 0.2)
  &.btn-lg
    padding-left: 61px
    > :first-child
      line-height: 45px
      width: 45px
      font-size: 1.8em
  &.btn-sm
    padding-left: 38px
    > :first-child
      line-height: 28px
      width: 28px
      font-size: 1.4em
  &.btn-xs
    padding-left: 30px
    > :first-child
      line-height: 20px
      width: 20px
      font-size: 1.2em

.btn-social-icon
  position: relative
  padding-left: 44px
  text-align: left
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  height: 34px
  width: 34px
  padding: 0
  > :first-child
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 32px
    line-height: 34px
    font-size: 1.6em
    text-align: center
    border-right: 1px solid rgba(0, 0, 0, 0.2)
  &.btn-lg
    padding-left: 61px
    > :first-child
      line-height: 45px
      width: 45px
      font-size: 1.8em
  &.btn-sm
    padding-left: 38px
    > :first-child
      line-height: 28px
      width: 28px
      font-size: 1.4em
  &.btn-xs
    padding-left: 30px
    > :first-child
      line-height: 20px
      width: 20px
      font-size: 1.2em
  > :first-child
    border: none
    text-align: center
    width: 100% !important
  &.btn-lg
    height: 45px
    width: 45px
    padding-left: 0
    padding-right: 0
  &.btn-sm
    height: 30px
    width: 30px
    padding-left: 0
    padding-right: 0
  &.btn-xs
    height: 22px
    width: 22px
    padding-left: 0
    padding-right: 0

.btn-adn
  color: #fff
  background-color: #d87a68
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #ce563f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-adn
  color: #fff
  background-color: #ce563f
  border-color: rgba(0, 0, 0, 0.2)

.btn-adn
  &:active:hover, &.active:hover
    color: #fff
    background-color: #b94630
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-adn:hover
  color: #fff
  background-color: #b94630
  border-color: rgba(0, 0, 0, 0.2)

.btn-adn
  &:active:focus, &.active:focus
    color: #fff
    background-color: #b94630
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-adn:focus
  color: #fff
  background-color: #b94630
  border-color: rgba(0, 0, 0, 0.2)

.btn-adn
  &:active.focus, &.active.focus
    color: #fff
    background-color: #b94630
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-adn.focus
  color: #fff
  background-color: #b94630
  border-color: rgba(0, 0, 0, 0.2)

.btn-adn
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-adn
  background-image: none

.btn-adn
  &.disabled:hover, &[disabled]:hover
    background-color: #d87a68
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-adn:hover
  background-color: #d87a68
  border-color: rgba(0, 0, 0, 0.2)

.btn-adn
  &.disabled:focus, &[disabled]:focus
    background-color: #d87a68
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-adn:focus
  background-color: #d87a68
  border-color: rgba(0, 0, 0, 0.2)

.btn-adn
  &.disabled.focus, &[disabled].focus
    background-color: #d87a68
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-adn.focus
  background-color: #d87a68
  border-color: rgba(0, 0, 0, 0.2)

.btn-adn .badge
  color: #d87a68
  background-color: #fff

.btn-bitbucket
  color: #fff
  background-color: #205081
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #163758
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-bitbucket
  color: #fff
  background-color: #163758
  border-color: rgba(0, 0, 0, 0.2)

.btn-bitbucket
  &:active:hover, &.active:hover
    color: #fff
    background-color: #0f253c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-bitbucket:hover
  color: #fff
  background-color: #0f253c
  border-color: rgba(0, 0, 0, 0.2)

.btn-bitbucket
  &:active:focus, &.active:focus
    color: #fff
    background-color: #0f253c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-bitbucket:focus
  color: #fff
  background-color: #0f253c
  border-color: rgba(0, 0, 0, 0.2)

.btn-bitbucket
  &:active.focus, &.active.focus
    color: #fff
    background-color: #0f253c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-bitbucket.focus
  color: #fff
  background-color: #0f253c
  border-color: rgba(0, 0, 0, 0.2)

.btn-bitbucket
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-bitbucket
  background-image: none

.btn-bitbucket
  &.disabled:hover, &[disabled]:hover
    background-color: #205081
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-bitbucket:hover
  background-color: #205081
  border-color: rgba(0, 0, 0, 0.2)

.btn-bitbucket
  &.disabled:focus, &[disabled]:focus
    background-color: #205081
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-bitbucket:focus
  background-color: #205081
  border-color: rgba(0, 0, 0, 0.2)

.btn-bitbucket
  &.disabled.focus, &[disabled].focus
    background-color: #205081
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-bitbucket.focus
  background-color: #205081
  border-color: rgba(0, 0, 0, 0.2)

.btn-bitbucket .badge
  color: #205081
  background-color: #fff

.btn-dropbox
  color: #fff
  background-color: #1087dd
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #0d6aad
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-dropbox
  color: #fff
  background-color: #0d6aad
  border-color: rgba(0, 0, 0, 0.2)

.btn-dropbox
  &:active:hover, &.active:hover
    color: #fff
    background-color: #0a568c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-dropbox:hover
  color: #fff
  background-color: #0a568c
  border-color: rgba(0, 0, 0, 0.2)

.btn-dropbox
  &:active:focus, &.active:focus
    color: #fff
    background-color: #0a568c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-dropbox:focus
  color: #fff
  background-color: #0a568c
  border-color: rgba(0, 0, 0, 0.2)

.btn-dropbox
  &:active.focus, &.active.focus
    color: #fff
    background-color: #0a568c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-dropbox.focus
  color: #fff
  background-color: #0a568c
  border-color: rgba(0, 0, 0, 0.2)

.btn-dropbox
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-dropbox
  background-image: none

.btn-dropbox
  &.disabled:hover, &[disabled]:hover
    background-color: #1087dd
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-dropbox:hover
  background-color: #1087dd
  border-color: rgba(0, 0, 0, 0.2)

.btn-dropbox
  &.disabled:focus, &[disabled]:focus
    background-color: #1087dd
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-dropbox:focus
  background-color: #1087dd
  border-color: rgba(0, 0, 0, 0.2)

.btn-dropbox
  &.disabled.focus, &[disabled].focus
    background-color: #1087dd
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-dropbox.focus
  background-color: #1087dd
  border-color: rgba(0, 0, 0, 0.2)

.btn-dropbox .badge
  color: #1087dd
  background-color: #fff

.btn-facebook
  color: #fff
  background-color: #3b5998
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #2d4373
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-facebook
  color: #fff
  background-color: #2d4373
  border-color: rgba(0, 0, 0, 0.2)

.btn-facebook
  &:active:hover, &.active:hover
    color: #fff
    background-color: #23345a
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-facebook:hover
  color: #fff
  background-color: #23345a
  border-color: rgba(0, 0, 0, 0.2)

.btn-facebook
  &:active:focus, &.active:focus
    color: #fff
    background-color: #23345a
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-facebook:focus
  color: #fff
  background-color: #23345a
  border-color: rgba(0, 0, 0, 0.2)

.btn-facebook
  &:active.focus, &.active.focus
    color: #fff
    background-color: #23345a
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-facebook.focus
  color: #fff
  background-color: #23345a
  border-color: rgba(0, 0, 0, 0.2)

.btn-facebook
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-facebook
  background-image: none

.btn-facebook
  &.disabled:hover, &[disabled]:hover
    background-color: #3b5998
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-facebook:hover
  background-color: #3b5998
  border-color: rgba(0, 0, 0, 0.2)

.btn-facebook
  &.disabled:focus, &[disabled]:focus
    background-color: #3b5998
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-facebook:focus
  background-color: #3b5998
  border-color: rgba(0, 0, 0, 0.2)

.btn-facebook
  &.disabled.focus, &[disabled].focus
    background-color: #3b5998
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-facebook.focus
  background-color: #3b5998
  border-color: rgba(0, 0, 0, 0.2)

.btn-facebook .badge
  color: #3b5998
  background-color: #fff

.btn-flickr
  color: #fff
  background-color: #ff0084
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #cc006a
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-flickr
  color: #fff
  background-color: #cc006a
  border-color: rgba(0, 0, 0, 0.2)

.btn-flickr
  &:active:hover, &.active:hover
    color: #fff
    background-color: #a80057
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-flickr:hover
  color: #fff
  background-color: #a80057
  border-color: rgba(0, 0, 0, 0.2)

.btn-flickr
  &:active:focus, &.active:focus
    color: #fff
    background-color: #a80057
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-flickr:focus
  color: #fff
  background-color: #a80057
  border-color: rgba(0, 0, 0, 0.2)

.btn-flickr
  &:active.focus, &.active.focus
    color: #fff
    background-color: #a80057
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-flickr.focus
  color: #fff
  background-color: #a80057
  border-color: rgba(0, 0, 0, 0.2)

.btn-flickr
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-flickr
  background-image: none

.btn-flickr
  &.disabled:hover, &[disabled]:hover
    background-color: #ff0084
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-flickr:hover
  background-color: #ff0084
  border-color: rgba(0, 0, 0, 0.2)

.btn-flickr
  &.disabled:focus, &[disabled]:focus
    background-color: #ff0084
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-flickr:focus
  background-color: #ff0084
  border-color: rgba(0, 0, 0, 0.2)

.btn-flickr
  &.disabled.focus, &[disabled].focus
    background-color: #ff0084
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-flickr.focus
  background-color: #ff0084
  border-color: rgba(0, 0, 0, 0.2)

.btn-flickr .badge
  color: #ff0084
  background-color: #fff

.btn-foursquare
  color: #fff
  background-color: #f94877
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #f71752
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-foursquare
  color: #fff
  background-color: #f71752
  border-color: rgba(0, 0, 0, 0.2)

.btn-foursquare
  &:active:hover, &.active:hover
    color: #fff
    background-color: #e30742
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-foursquare:hover
  color: #fff
  background-color: #e30742
  border-color: rgba(0, 0, 0, 0.2)

.btn-foursquare
  &:active:focus, &.active:focus
    color: #fff
    background-color: #e30742
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-foursquare:focus
  color: #fff
  background-color: #e30742
  border-color: rgba(0, 0, 0, 0.2)

.btn-foursquare
  &:active.focus, &.active.focus
    color: #fff
    background-color: #e30742
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-foursquare.focus
  color: #fff
  background-color: #e30742
  border-color: rgba(0, 0, 0, 0.2)

.btn-foursquare
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-foursquare
  background-image: none

.btn-foursquare
  &.disabled:hover, &[disabled]:hover
    background-color: #f94877
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-foursquare:hover
  background-color: #f94877
  border-color: rgba(0, 0, 0, 0.2)

.btn-foursquare
  &.disabled:focus, &[disabled]:focus
    background-color: #f94877
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-foursquare:focus
  background-color: #f94877
  border-color: rgba(0, 0, 0, 0.2)

.btn-foursquare
  &.disabled.focus, &[disabled].focus
    background-color: #f94877
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-foursquare.focus
  background-color: #f94877
  border-color: rgba(0, 0, 0, 0.2)

.btn-foursquare .badge
  color: #f94877
  background-color: #fff

.btn-github
  color: #fff
  background-color: #444
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #2b2b2b
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-github
  color: #fff
  background-color: #2b2b2b
  border-color: rgba(0, 0, 0, 0.2)

.btn-github
  &:active:hover, &.active:hover
    color: #fff
    background-color: #191919
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-github:hover
  color: #fff
  background-color: #191919
  border-color: rgba(0, 0, 0, 0.2)

.btn-github
  &:active:focus, &.active:focus
    color: #fff
    background-color: #191919
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-github:focus
  color: #fff
  background-color: #191919
  border-color: rgba(0, 0, 0, 0.2)

.btn-github
  &:active.focus, &.active.focus
    color: #fff
    background-color: #191919
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-github.focus
  color: #fff
  background-color: #191919
  border-color: rgba(0, 0, 0, 0.2)

.btn-github
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-github
  background-image: none

.btn-github
  &.disabled:hover, &[disabled]:hover
    background-color: #444
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-github:hover
  background-color: #444
  border-color: rgba(0, 0, 0, 0.2)

.btn-github
  &.disabled:focus, &[disabled]:focus
    background-color: #444
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-github:focus
  background-color: #444
  border-color: rgba(0, 0, 0, 0.2)

.btn-github
  &.disabled.focus, &[disabled].focus
    background-color: #444
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-github.focus
  background-color: #444
  border-color: rgba(0, 0, 0, 0.2)

.btn-github .badge
  color: #444
  background-color: #fff

.btn-google
  color: #fff
  background-color: #dd4b39
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #c23321
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-google
  color: #fff
  background-color: #c23321
  border-color: rgba(0, 0, 0, 0.2)

.btn-google
  &:active:hover, &.active:hover
    color: #fff
    background-color: #a32b1c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-google:hover
  color: #fff
  background-color: #a32b1c
  border-color: rgba(0, 0, 0, 0.2)

.btn-google
  &:active:focus, &.active:focus
    color: #fff
    background-color: #a32b1c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-google:focus
  color: #fff
  background-color: #a32b1c
  border-color: rgba(0, 0, 0, 0.2)

.btn-google
  &:active.focus, &.active.focus
    color: #fff
    background-color: #a32b1c
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-google.focus
  color: #fff
  background-color: #a32b1c
  border-color: rgba(0, 0, 0, 0.2)

.btn-google
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-google
  background-image: none

.btn-google
  &.disabled:hover, &[disabled]:hover
    background-color: #dd4b39
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-google:hover
  background-color: #dd4b39
  border-color: rgba(0, 0, 0, 0.2)

.btn-google
  &.disabled:focus, &[disabled]:focus
    background-color: #dd4b39
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-google:focus
  background-color: #dd4b39
  border-color: rgba(0, 0, 0, 0.2)

.btn-google
  &.disabled.focus, &[disabled].focus
    background-color: #dd4b39
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-google.focus
  background-color: #dd4b39
  border-color: rgba(0, 0, 0, 0.2)

.btn-google .badge
  color: #dd4b39
  background-color: #fff

.btn-instagram
  color: #fff
  background-color: #3f729b
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #305777
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-instagram
  color: #fff
  background-color: #305777
  border-color: rgba(0, 0, 0, 0.2)

.btn-instagram
  &:active:hover, &.active:hover
    color: #fff
    background-color: #26455d
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-instagram:hover
  color: #fff
  background-color: #26455d
  border-color: rgba(0, 0, 0, 0.2)

.btn-instagram
  &:active:focus, &.active:focus
    color: #fff
    background-color: #26455d
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-instagram:focus
  color: #fff
  background-color: #26455d
  border-color: rgba(0, 0, 0, 0.2)

.btn-instagram
  &:active.focus, &.active.focus
    color: #fff
    background-color: #26455d
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-instagram.focus
  color: #fff
  background-color: #26455d
  border-color: rgba(0, 0, 0, 0.2)

.btn-instagram
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-instagram
  background-image: none

.btn-instagram
  &.disabled:hover, &[disabled]:hover
    background-color: #3f729b
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-instagram:hover
  background-color: #3f729b
  border-color: rgba(0, 0, 0, 0.2)

.btn-instagram
  &.disabled:focus, &[disabled]:focus
    background-color: #3f729b
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-instagram:focus
  background-color: #3f729b
  border-color: rgba(0, 0, 0, 0.2)

.btn-instagram
  &.disabled.focus, &[disabled].focus
    background-color: #3f729b
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-instagram.focus
  background-color: #3f729b
  border-color: rgba(0, 0, 0, 0.2)

.btn-instagram .badge
  color: #3f729b
  background-color: #fff

.btn-linkedin
  color: #fff
  background-color: #007bb6
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #005983
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-linkedin
  color: #fff
  background-color: #005983
  border-color: rgba(0, 0, 0, 0.2)

.btn-linkedin
  &:active:hover, &.active:hover
    color: #fff
    background-color: #00405f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-linkedin:hover
  color: #fff
  background-color: #00405f
  border-color: rgba(0, 0, 0, 0.2)

.btn-linkedin
  &:active:focus, &.active:focus
    color: #fff
    background-color: #00405f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-linkedin:focus
  color: #fff
  background-color: #00405f
  border-color: rgba(0, 0, 0, 0.2)

.btn-linkedin
  &:active.focus, &.active.focus
    color: #fff
    background-color: #00405f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-linkedin.focus
  color: #fff
  background-color: #00405f
  border-color: rgba(0, 0, 0, 0.2)

.btn-linkedin
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-linkedin
  background-image: none

.btn-linkedin
  &.disabled:hover, &[disabled]:hover
    background-color: #007bb6
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-linkedin:hover
  background-color: #007bb6
  border-color: rgba(0, 0, 0, 0.2)

.btn-linkedin
  &.disabled:focus, &[disabled]:focus
    background-color: #007bb6
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-linkedin:focus
  background-color: #007bb6
  border-color: rgba(0, 0, 0, 0.2)

.btn-linkedin
  &.disabled.focus, &[disabled].focus
    background-color: #007bb6
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-linkedin.focus
  background-color: #007bb6
  border-color: rgba(0, 0, 0, 0.2)

.btn-linkedin .badge
  color: #007bb6
  background-color: #fff

.btn-microsoft
  color: #fff
  background-color: #2672ec
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #125acd
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-microsoft
  color: #fff
  background-color: #125acd
  border-color: rgba(0, 0, 0, 0.2)

.btn-microsoft
  &:active:hover, &.active:hover
    color: #fff
    background-color: #0f4bac
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-microsoft:hover
  color: #fff
  background-color: #0f4bac
  border-color: rgba(0, 0, 0, 0.2)

.btn-microsoft
  &:active:focus, &.active:focus
    color: #fff
    background-color: #0f4bac
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-microsoft:focus
  color: #fff
  background-color: #0f4bac
  border-color: rgba(0, 0, 0, 0.2)

.btn-microsoft
  &:active.focus, &.active.focus
    color: #fff
    background-color: #0f4bac
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-microsoft.focus
  color: #fff
  background-color: #0f4bac
  border-color: rgba(0, 0, 0, 0.2)

.btn-microsoft
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-microsoft
  background-image: none

.btn-microsoft
  &.disabled:hover, &[disabled]:hover
    background-color: #2672ec
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-microsoft:hover
  background-color: #2672ec
  border-color: rgba(0, 0, 0, 0.2)

.btn-microsoft
  &.disabled:focus, &[disabled]:focus
    background-color: #2672ec
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-microsoft:focus
  background-color: #2672ec
  border-color: rgba(0, 0, 0, 0.2)

.btn-microsoft
  &.disabled.focus, &[disabled].focus
    background-color: #2672ec
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-microsoft.focus
  background-color: #2672ec
  border-color: rgba(0, 0, 0, 0.2)

.btn-microsoft .badge
  color: #2672ec
  background-color: #fff

.btn-odnoklassniki
  color: #fff
  background-color: #f4731c
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #d35b0a
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-odnoklassniki
  color: #fff
  background-color: #d35b0a
  border-color: rgba(0, 0, 0, 0.2)

.btn-odnoklassniki
  &:active:hover, &.active:hover
    color: #fff
    background-color: #b14c09
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-odnoklassniki:hover
  color: #fff
  background-color: #b14c09
  border-color: rgba(0, 0, 0, 0.2)

.btn-odnoklassniki
  &:active:focus, &.active:focus
    color: #fff
    background-color: #b14c09
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-odnoklassniki:focus
  color: #fff
  background-color: #b14c09
  border-color: rgba(0, 0, 0, 0.2)

.btn-odnoklassniki
  &:active.focus, &.active.focus
    color: #fff
    background-color: #b14c09
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-odnoklassniki.focus
  color: #fff
  background-color: #b14c09
  border-color: rgba(0, 0, 0, 0.2)

.btn-odnoklassniki
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-odnoklassniki
  background-image: none

.btn-odnoklassniki
  &.disabled:hover, &[disabled]:hover
    background-color: #f4731c
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-odnoklassniki:hover
  background-color: #f4731c
  border-color: rgba(0, 0, 0, 0.2)

.btn-odnoklassniki
  &.disabled:focus, &[disabled]:focus
    background-color: #f4731c
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-odnoklassniki:focus
  background-color: #f4731c
  border-color: rgba(0, 0, 0, 0.2)

.btn-odnoklassniki
  &.disabled.focus, &[disabled].focus
    background-color: #f4731c
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-odnoklassniki.focus
  background-color: #f4731c
  border-color: rgba(0, 0, 0, 0.2)

.btn-odnoklassniki .badge
  color: #f4731c
  background-color: #fff

.btn-openid
  color: #fff
  background-color: #f7931e
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #da7908
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-openid
  color: #fff
  background-color: #da7908
  border-color: rgba(0, 0, 0, 0.2)

.btn-openid
  &:active:hover, &.active:hover
    color: #fff
    background-color: #b86607
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-openid:hover
  color: #fff
  background-color: #b86607
  border-color: rgba(0, 0, 0, 0.2)

.btn-openid
  &:active:focus, &.active:focus
    color: #fff
    background-color: #b86607
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-openid:focus
  color: #fff
  background-color: #b86607
  border-color: rgba(0, 0, 0, 0.2)

.btn-openid
  &:active.focus, &.active.focus
    color: #fff
    background-color: #b86607
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-openid.focus
  color: #fff
  background-color: #b86607
  border-color: rgba(0, 0, 0, 0.2)

.btn-openid
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-openid
  background-image: none

.btn-openid
  &.disabled:hover, &[disabled]:hover
    background-color: #f7931e
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-openid:hover
  background-color: #f7931e
  border-color: rgba(0, 0, 0, 0.2)

.btn-openid
  &.disabled:focus, &[disabled]:focus
    background-color: #f7931e
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-openid:focus
  background-color: #f7931e
  border-color: rgba(0, 0, 0, 0.2)

.btn-openid
  &.disabled.focus, &[disabled].focus
    background-color: #f7931e
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-openid.focus
  background-color: #f7931e
  border-color: rgba(0, 0, 0, 0.2)

.btn-openid .badge
  color: #f7931e
  background-color: #fff

.btn-pinterest
  color: #fff
  background-color: #cb2027
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #9f191f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-pinterest
  color: #fff
  background-color: #9f191f
  border-color: rgba(0, 0, 0, 0.2)

.btn-pinterest
  &:active:hover, &.active:hover
    color: #fff
    background-color: #801419
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-pinterest:hover
  color: #fff
  background-color: #801419
  border-color: rgba(0, 0, 0, 0.2)

.btn-pinterest
  &:active:focus, &.active:focus
    color: #fff
    background-color: #801419
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-pinterest:focus
  color: #fff
  background-color: #801419
  border-color: rgba(0, 0, 0, 0.2)

.btn-pinterest
  &:active.focus, &.active.focus
    color: #fff
    background-color: #801419
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-pinterest.focus
  color: #fff
  background-color: #801419
  border-color: rgba(0, 0, 0, 0.2)

.btn-pinterest
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-pinterest
  background-image: none

.btn-pinterest
  &.disabled:hover, &[disabled]:hover
    background-color: #cb2027
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-pinterest:hover
  background-color: #cb2027
  border-color: rgba(0, 0, 0, 0.2)

.btn-pinterest
  &.disabled:focus, &[disabled]:focus
    background-color: #cb2027
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-pinterest:focus
  background-color: #cb2027
  border-color: rgba(0, 0, 0, 0.2)

.btn-pinterest
  &.disabled.focus, &[disabled].focus
    background-color: #cb2027
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-pinterest.focus
  background-color: #cb2027
  border-color: rgba(0, 0, 0, 0.2)

.btn-pinterest .badge
  color: #cb2027
  background-color: #fff

.btn-reddit
  color: #000
  background-color: #eff7ff
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #000
    background-color: #bcddff
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-reddit
  color: #000
  background-color: #bcddff
  border-color: rgba(0, 0, 0, 0.2)

.btn-reddit
  &:active:hover, &.active:hover
    color: #000
    background-color: #98ccff
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-reddit:hover
  color: #000
  background-color: #98ccff
  border-color: rgba(0, 0, 0, 0.2)

.btn-reddit
  &:active:focus, &.active:focus
    color: #000
    background-color: #98ccff
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-reddit:focus
  color: #000
  background-color: #98ccff
  border-color: rgba(0, 0, 0, 0.2)

.btn-reddit
  &:active.focus, &.active.focus
    color: #000
    background-color: #98ccff
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-reddit.focus
  color: #000
  background-color: #98ccff
  border-color: rgba(0, 0, 0, 0.2)

.btn-reddit
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-reddit
  background-image: none

.btn-reddit
  &.disabled:hover, &[disabled]:hover
    background-color: #eff7ff
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-reddit:hover
  background-color: #eff7ff
  border-color: rgba(0, 0, 0, 0.2)

.btn-reddit
  &.disabled:focus, &[disabled]:focus
    background-color: #eff7ff
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-reddit:focus
  background-color: #eff7ff
  border-color: rgba(0, 0, 0, 0.2)

.btn-reddit
  &.disabled.focus, &[disabled].focus
    background-color: #eff7ff
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-reddit.focus
  background-color: #eff7ff
  border-color: rgba(0, 0, 0, 0.2)

.btn-reddit .badge
  color: #eff7ff
  background-color: #000

.btn-soundcloud
  color: #fff
  background-color: #f50
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #c40
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-soundcloud
  color: #fff
  background-color: #c40
  border-color: rgba(0, 0, 0, 0.2)

.btn-soundcloud
  &:active:hover, &.active:hover
    color: #fff
    background-color: #a83800
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-soundcloud:hover
  color: #fff
  background-color: #a83800
  border-color: rgba(0, 0, 0, 0.2)

.btn-soundcloud
  &:active:focus, &.active:focus
    color: #fff
    background-color: #a83800
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-soundcloud:focus
  color: #fff
  background-color: #a83800
  border-color: rgba(0, 0, 0, 0.2)

.btn-soundcloud
  &:active.focus, &.active.focus
    color: #fff
    background-color: #a83800
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-soundcloud.focus
  color: #fff
  background-color: #a83800
  border-color: rgba(0, 0, 0, 0.2)

.btn-soundcloud
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-soundcloud
  background-image: none

.btn-soundcloud
  &.disabled:hover, &[disabled]:hover
    background-color: #f50
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-soundcloud:hover
  background-color: #f50
  border-color: rgba(0, 0, 0, 0.2)

.btn-soundcloud
  &.disabled:focus, &[disabled]:focus
    background-color: #f50
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-soundcloud:focus
  background-color: #f50
  border-color: rgba(0, 0, 0, 0.2)

.btn-soundcloud
  &.disabled.focus, &[disabled].focus
    background-color: #f50
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-soundcloud.focus
  background-color: #f50
  border-color: rgba(0, 0, 0, 0.2)

.btn-soundcloud .badge
  color: #f50
  background-color: #fff

.btn-tumblr
  color: #fff
  background-color: #2c4762
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #1c2d3f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-tumblr
  color: #fff
  background-color: #1c2d3f
  border-color: rgba(0, 0, 0, 0.2)

.btn-tumblr
  &:active:hover, &.active:hover
    color: #fff
    background-color: #111c26
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-tumblr:hover
  color: #fff
  background-color: #111c26
  border-color: rgba(0, 0, 0, 0.2)

.btn-tumblr
  &:active:focus, &.active:focus
    color: #fff
    background-color: #111c26
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-tumblr:focus
  color: #fff
  background-color: #111c26
  border-color: rgba(0, 0, 0, 0.2)

.btn-tumblr
  &:active.focus, &.active.focus
    color: #fff
    background-color: #111c26
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-tumblr.focus
  color: #fff
  background-color: #111c26
  border-color: rgba(0, 0, 0, 0.2)

.btn-tumblr
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-tumblr
  background-image: none

.btn-tumblr
  &.disabled:hover, &[disabled]:hover
    background-color: #2c4762
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-tumblr:hover
  background-color: #2c4762
  border-color: rgba(0, 0, 0, 0.2)

.btn-tumblr
  &.disabled:focus, &[disabled]:focus
    background-color: #2c4762
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-tumblr:focus
  background-color: #2c4762
  border-color: rgba(0, 0, 0, 0.2)

.btn-tumblr
  &.disabled.focus, &[disabled].focus
    background-color: #2c4762
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-tumblr.focus
  background-color: #2c4762
  border-color: rgba(0, 0, 0, 0.2)

.btn-tumblr .badge
  color: #2c4762
  background-color: #fff

.btn-twitter
  color: #fff
  background-color: #55acee
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #2795e9
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-twitter
  color: #fff
  background-color: #2795e9
  border-color: rgba(0, 0, 0, 0.2)

.btn-twitter
  &:active:hover, &.active:hover
    color: #fff
    background-color: #1583d7
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-twitter:hover
  color: #fff
  background-color: #1583d7
  border-color: rgba(0, 0, 0, 0.2)

.btn-twitter
  &:active:focus, &.active:focus
    color: #fff
    background-color: #1583d7
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-twitter:focus
  color: #fff
  background-color: #1583d7
  border-color: rgba(0, 0, 0, 0.2)

.btn-twitter
  &:active.focus, &.active.focus
    color: #fff
    background-color: #1583d7
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-twitter.focus
  color: #fff
  background-color: #1583d7
  border-color: rgba(0, 0, 0, 0.2)

.btn-twitter
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-twitter
  background-image: none

.btn-twitter
  &.disabled:hover, &[disabled]:hover
    background-color: #55acee
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-twitter:hover
  background-color: #55acee
  border-color: rgba(0, 0, 0, 0.2)

.btn-twitter
  &.disabled:focus, &[disabled]:focus
    background-color: #55acee
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-twitter:focus
  background-color: #55acee
  border-color: rgba(0, 0, 0, 0.2)

.btn-twitter
  &.disabled.focus, &[disabled].focus
    background-color: #55acee
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-twitter.focus
  background-color: #55acee
  border-color: rgba(0, 0, 0, 0.2)

.btn-twitter .badge
  color: #55acee
  background-color: #fff

.btn-vimeo
  color: #fff
  background-color: #1ab7ea
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #1295bf
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-vimeo
  color: #fff
  background-color: #1295bf
  border-color: rgba(0, 0, 0, 0.2)

.btn-vimeo
  &:active:hover, &.active:hover
    color: #fff
    background-color: #0f7b9f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-vimeo:hover
  color: #fff
  background-color: #0f7b9f
  border-color: rgba(0, 0, 0, 0.2)

.btn-vimeo
  &:active:focus, &.active:focus
    color: #fff
    background-color: #0f7b9f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-vimeo:focus
  color: #fff
  background-color: #0f7b9f
  border-color: rgba(0, 0, 0, 0.2)

.btn-vimeo
  &:active.focus, &.active.focus
    color: #fff
    background-color: #0f7b9f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-vimeo.focus
  color: #fff
  background-color: #0f7b9f
  border-color: rgba(0, 0, 0, 0.2)

.btn-vimeo
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-vimeo
  background-image: none

.btn-vimeo
  &.disabled:hover, &[disabled]:hover
    background-color: #1ab7ea
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-vimeo:hover
  background-color: #1ab7ea
  border-color: rgba(0, 0, 0, 0.2)

.btn-vimeo
  &.disabled:focus, &[disabled]:focus
    background-color: #1ab7ea
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-vimeo:focus
  background-color: #1ab7ea
  border-color: rgba(0, 0, 0, 0.2)

.btn-vimeo
  &.disabled.focus, &[disabled].focus
    background-color: #1ab7ea
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-vimeo.focus
  background-color: #1ab7ea
  border-color: rgba(0, 0, 0, 0.2)

.btn-vimeo .badge
  color: #1ab7ea
  background-color: #fff

.btn-vk
  color: #fff
  background-color: #587ea3
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #466482
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-vk
  color: #fff
  background-color: #466482
  border-color: rgba(0, 0, 0, 0.2)

.btn-vk
  &:active:hover, &.active:hover
    color: #fff
    background-color: #3a526b
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-vk:hover
  color: #fff
  background-color: #3a526b
  border-color: rgba(0, 0, 0, 0.2)

.btn-vk
  &:active:focus, &.active:focus
    color: #fff
    background-color: #3a526b
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-vk:focus
  color: #fff
  background-color: #3a526b
  border-color: rgba(0, 0, 0, 0.2)

.btn-vk
  &:active.focus, &.active.focus
    color: #fff
    background-color: #3a526b
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-vk.focus
  color: #fff
  background-color: #3a526b
  border-color: rgba(0, 0, 0, 0.2)

.btn-vk
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-vk
  background-image: none

.btn-vk
  &.disabled:hover, &[disabled]:hover
    background-color: #587ea3
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-vk:hover
  background-color: #587ea3
  border-color: rgba(0, 0, 0, 0.2)

.btn-vk
  &.disabled:focus, &[disabled]:focus
    background-color: #587ea3
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-vk:focus
  background-color: #587ea3
  border-color: rgba(0, 0, 0, 0.2)

.btn-vk
  &.disabled.focus, &[disabled].focus
    background-color: #587ea3
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-vk.focus
  background-color: #587ea3
  border-color: rgba(0, 0, 0, 0.2)

.btn-vk .badge
  color: #587ea3
  background-color: #fff

.btn-yahoo
  color: #fff
  background-color: #720e9e
  border-color: rgba(0, 0, 0, 0.2)
  &:focus, &.focus, &:hover, &:active, &.active
    color: #fff
    background-color: #500a6f
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-yahoo
  color: #fff
  background-color: #500a6f
  border-color: rgba(0, 0, 0, 0.2)

.btn-yahoo
  &:active:hover, &.active:hover
    color: #fff
    background-color: #39074e
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-yahoo:hover
  color: #fff
  background-color: #39074e
  border-color: rgba(0, 0, 0, 0.2)

.btn-yahoo
  &:active:focus, &.active:focus
    color: #fff
    background-color: #39074e
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-yahoo:focus
  color: #fff
  background-color: #39074e
  border-color: rgba(0, 0, 0, 0.2)

.btn-yahoo
  &:active.focus, &.active.focus
    color: #fff
    background-color: #39074e
    border-color: rgba(0, 0, 0, 0.2)

.open > .dropdown-toggle.btn-yahoo.focus
  color: #fff
  background-color: #39074e
  border-color: rgba(0, 0, 0, 0.2)

.btn-yahoo
  &:active, &.active
    background-image: none

.open > .dropdown-toggle.btn-yahoo
  background-image: none

.btn-yahoo
  &.disabled:hover, &[disabled]:hover
    background-color: #720e9e
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-yahoo:hover
  background-color: #720e9e
  border-color: rgba(0, 0, 0, 0.2)

.btn-yahoo
  &.disabled:focus, &[disabled]:focus
    background-color: #720e9e
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-yahoo:focus
  background-color: #720e9e
  border-color: rgba(0, 0, 0, 0.2)

.btn-yahoo
  &.disabled.focus, &[disabled].focus
    background-color: #720e9e
    border-color: rgba(0, 0, 0, 0.2)

fieldset[disabled] .btn-yahoo.focus
  background-color: #720e9e
  border-color: rgba(0, 0, 0, 0.2)

.btn-yahoo .badge
  color: #720e9e
  background-color: #fff